@import models.categories.SelectableCategories
@import models.todos._
@import helper._

@(vv: ViewValueCommon, todos: Seq[DisplayTodo], selectableCategories: SelectableCategories, creating: Form[CreatingTodo])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@common.Default(vv){
    <div style="margin-bottom: 10px">
    @TodoForm(creating, selectableCategories)
    </div>
    <div style="padding: 10px; margin-bottom: 10px; border:1px solid #333333">
        @TodoList(todos)
    </div>
}
